@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --aspect-ratio-2-3: 2 / 3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes heartOrbit {
  0% {
    transform: rotate(0deg) translate(70px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(70px) rotate(-360deg);
  }
}

@keyframes sparkleOrbit {
  0% {
    transform: rotate(180deg) translate(70px) rotate(-180deg);
    opacity: 0.9;
  }
  50% {
    opacity: 1;
    transform: rotate(270deg) translate(70px) rotate(-270deg);
  }
  100% {
    transform: rotate(540deg) translate(70px) rotate(-540deg);
    opacity: 0.9;
  }
}

.animate-heartOrbit {
  animation: heartOrbit 4s linear infinite;
}

.animate-sparkleOrbit {
  animation: sparkleOrbit 4s linear infinite;
}
